@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Container for the product list */
.product-list-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/736x/e7/f2/b4/e7f2b47e656a2babc353fe062aee43db.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px;
    min-height: 400px;
  }
  
  .product-list h2 {
    grid-column: span 3; /* Make the heading span all columns */
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Styling for each product item card */
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-bottom: 30px;
    background-color: rgba(254, 254, 254); /* Transparent background */
  }
  
  /* Hover effect for product item */
  .product-item:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  
  .product-item .image {
    border-bottom: 1px solid rgb(91, 90, 90);
  }
  
  .product-item .product-name {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .product-item .product-price {
    font-size: 20px;
    color: rgb(100, 100, 100);
    margin-top: 10px;
  }
  
  .product-item .product-status,
  .product-item .product-address,
  .product-item .product-content {
    font-size: 20px;
    color: rgb(100, 100, 100);
    margin: 5px 0;
  }
  
  /* Approve form and button styling */
  .product-item form {
    margin-top: 20px;
  }
  
  .product-item button {
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 57, 90);
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  
  .product-item button:hover {
    background-color: rgb(2, 183, 20);
  }
  
  /* Responsive design */
  @media (max-width: 1200px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    }
  }
  
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: 1fr; /* 1 item per row */
    }
  }
  